<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>猎人招聘</title>
        <link rel="stylesheet" th:href="@{/admin/font.css}">
        <link rel="stylesheet" th:href="@{/admin/xadmin.css}">
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <span style="color: white">猎人招聘</span>
                <a href="">退出登录</a>
            </div>
        </div>
        <!-- 顶部结束 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li class="checkin">
                        <a href="">
                            <cite>个人中心</cite>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <cite>发布招聘</cite>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <cite>报名者审核</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">

        </div>
        <!-- 右侧主体结束 -->
    </body>
</html>