<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>猎人招聘</title>
        <link rel="stylesheet" th:href="@{/admin/font.css}">
        <link rel="stylesheet" th:href="@{/admin/xadmin.css}">
        <link rel="stylesheet" th:href="@{/admin/admin.css}">
    </head>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script type="text/javascript">
        function register(telephone) {
            var result=window.confirm("是否确认注册?");
            if(result){
                window.location.href="/admin/confirmRegister?telephone="+telephone;
            }
        }
        function deleteUser(telephone) {
            var result=window.confirm("是否确认删除?");
            if(result){
                window.location.href="/admin/deleteRegister?telephone="+telephone;
            }
        }
    </script>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <span style="color: white">猎人招聘</span>
                <a th:href="@{/loginOut}">退出登录</a>
            </div>
        </div>
        <!-- 顶部结束 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li class="checkin">
                        <a th:href="@{/admin}">
                            <i class="iconfont left-nav-li" lay-tips="审核注册"></i>
                            <cite>审核注册</cite>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/returnJob}">
                            <i class="iconfont left-nav-li" lay-tips="审核招聘"></i>
                            <cite>审核招聘</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="border_out">
                <table class="admin">
                    <thead>
                    <th>Telephone</th>
                    <th>userName</th>
                    <th>password</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <tr th:each="interviewer:${session.interviewer}">
                        <td th:text="${interviewer.telephone}"></td>
                        <td th:text="${interviewer.userName}"></td>
                        <td th:text="${interviewer.password}"></td>
                        <td>
                            <button th:onclick="register([[${interviewer.telephone}]]);">注册</button>
                            <button th:onclick="deleteUser([[${interviewer.telephone}]]);">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 右侧主体结束 -->
    </body>
</html>