<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{/applyer/personal.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/applyer/enter(num=${recruit.num})}" method="post">
        <div class="content_center">
            <table border="1" class="tablein">
                <tr>
                    <th >面试官:</th>
                    <td><input type="text"  name="interviewer" th:value="${recruit.interviewer}" readonly></td>
                    <th>电话:</th>
                    <td><input type="text"  name="telephone" th:value="${recruit.telephone}" readonly></td>
                </tr>

                <tr>
                    <th>地区:</th>
                    <td><input type="text" name="region" th:value="${recruit.region}" readonly></td>
                    <th>学历要求:</th>
                    <td><input type="text" name="education" th:value="${recruit.education}" readonly></td>
                </tr>

                <tr>
                    <th>薪资:</th>
                    <td><input type="text" name="salary" th:value="${recruit.salary}" readonly></td>
                    <th>公司规模:</th>
                    <td><input type="text" name="scaleCompany" th:value="${recruit.scaleCompany}" readonly></td>
                </tr>

                <tr>
                    <th>职位类型:</th>
                    <td><input type="text" name="positionType" th:value="${recruit.positionType}" readonly></td>
                    <th>职位:</th>
                    <td><input type="text" name="position" th:value="${recruit.position}" readonly></td>
                </tr>

                <!--<tr>
                    <th>具体职位:</th>
                    <td><input type="text" name="telephone" th:value="${session.user.telephone}" readonly></td>
                    <th>面试时间:</th>
                    <td><input type="text" name="telephone" th:value="${session.user.telephone}" readonly></td>
                </tr>-->

                <tr>
                    <th> 职位描述:</th>
                    <td colspan="3"><textarea rows="10" cols="50" name="descPo" th:text="${recruit.descPo}" readonly></textarea></td>
                </tr>

            </table>
        </div>
        <div class="content_down">
            <input type="button" class="return" value="返回" onclick="window.location.href='/applyer/yidong'">
            <input type="submit" class="btn" value="报名">
        </div>
        <p style="color: red" th:text="${msg}" align="center"></p>
    </form>
</div>
</body>
</html>