<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<!--xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro"-->
    <head>
        <meta charset="UTF-8">
        <title>猎人招聘</title>
        <link rel="stylesheet" th:href="@{/admin/font.css}">
        <link rel="stylesheet" th:href="@{/admin/xadmin.css}">
        <link rel="stylesheet" th:href="@{/admin/admin.css}">
    </head>
<script type="text/javascript">
    function pass(telephone,position) {
        var result=window.confirm("是否确认通过?");
        if(result){
            window.location.href="/interviewer/pass?telephone="+telephone+"&position="+position;
        }
    }

    function nopass(telephone,position) {
        var result=window.confirm("是否确认不通过?");
        if(result){
            window.location.href="/interviewer/nopass?telephone="+telephone+"&position="+position;
        }
    }
</script>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <span style="color: white">猎人招聘</span>
                <a th:href="@{/loginOut}">退出登录</a>
            </div>
        </div>
        <!-- 顶部结束 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a th:href="@{/interviewer}">
                            <cite>个人中心</cite>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/interviewerJob}">
                            <cite>发布招聘</cite>
                        </a>
                    </li>
                    <li class="checkin">
                        <a th:href="@{/interviewer/jobCheck}">
                            <cite>报名者审核</cite>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/interviewer/mianshi}">
                            <cite>面试</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="border_out">
                <table class="adminJob">
                    <thead>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>职位</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <tr th:each="apply:${applys}">
                        <td th:text="${apply.userName}"></td>
                        <td th:text="${apply.telephone}"></td>
                        <td th:text="${apply.position}"></td>
                        <td>
                            <button th:onclick="pass([[${apply.telephone}]],[[${apply.position}]]);">通过</button>
                            <button th:onclick="nopass([[${apply.telephone}]],[[${apply.position}]]);">未通过</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 右侧主体结束 -->
    </body>
</html>