<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{/applyer/personal.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/applyer/personalUpdate}" method="post" enctype="multipart/form-data">
        <div class="content_top">
            <img th:src="${session.user.headPhoto}" id="my-img" name="img">
            <input type="file" id="file" name="file"/>
        </div>
        <p style="color: red" th:text="${msg}" align="center"></p>
        <div class="content_center">
            <table border="1" class="tablein">
                <tr>
                    <th >姓名:</th>
                    <td><input type="text"  name="userName" th:value="${session.user.userName}"></td>
                    <th>年龄:</th>
                    <td><input type="text"  name="userAge" th:value="${session.user.userAge}==0?'':${session.user.userAge}"></td>
                </tr>

                <tr>
                    <th>性别:</th>
                    <td>
                        <input type="text" name="sex" placeholder="男/女" th:value="${session.user.sex}">
                    </td>
                    <th>邮箱:</th>
                    <td><input type="text" name="email" th:value="${session.user.email}"></td>
                </tr>

                <tr>
                    <th>手机号:</th>
                    <td><input type="text" name="telephone" th:value="${session.user.telephone}" readonly></td>
                    <th>学历:</th>
                    <td>
                        <select name="education">
                            <option th:value="${session.user.education}" th:text="${session.user.education}" th:if="${session.user.education!=null}"></option>
                            <option value="初中及以下">初中及以下</option>
                            <option value="中专">中专</option>
                            <option value="高中">高中</option>
                            <option value="大专">大专</option>
                            <option value="本科">本科</option>
                            <option value="硕士">硕士</option>
                            <option value="博士">博士</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th> 自我介绍:</th>
                    <td colspan="3"><textarea rows="13" cols="50" name="desc" th:text="${session.user.desc}"></textarea></td>
                </tr>

            </table>
        </div>
        <div class="content_down">
            <input type="button" class="return" value="返回" onclick="window.location.href='/applyer/yidong'">
            <input type="submit" class="btn" value="修改">
        </div>
    </form>
</div>
</body>
</html>