<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员</title>
    <link rel="stylesheet" th:href="@{/admin/font.css}">
    <link rel="stylesheet" th:href="@{/admin/xadmin.css}">
</head>
<body class="bodyOut">
    <div class="adminLoginOut">
        <div class="adminLoginIn">
            <form th:action="@{/userLogin/reset(telephone=${user.telephone},id=${user.identity})}" method="post">
                <p class="title">Reset</p>
                <p class="msg" style="color:red;"  th:text="${msg}"></p>
                <input type="text" name="password1" placeholder="新密码"><br>
                <input type="text" name="password2" placeholder="请在输入一次"><br>
                <input type="submit"  class="btn" value="Reset">
            </form>
        </div>
    </div>
</body>
</html>