<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>猎人招聘网</title>
    <link href="../static/visitor/visitor.css" type="text/css" rel="stylesheet">
</head>
<body>
    <!--顶部边栏-->
    <div id="header">
        <div class="header">
            <div class="header_left">
                <img src="../static/img/brand.png">
            </div>
            <div class="header_right">
                <a href="">登录</a>
            </div>
        </div>
    </div>
    <!--投放广告-->
    <div id="banner">
        <img src="../static/img/header.png">
        <img src="../static/img/hright.png">
    </div>
<!--    筛选框-->
    <div class="background-color">
        <div class="select">
            <form>
                <table class="visitor">
                    <thead>
                    <th>地区</th>
                    <th>学历要求</th>
                    <th>薪资</th>
                    <th>公司规模</th>
                    <th>职位类型</th>
                    <th></th>
                    </thead>
                    <thead>
                    <th>
                        <select name="region">
                            <option>全部</option>
                            <option>北京</option>
                            <option>上海</option>
                            <option>广州</option>
                            <option>深圳</option>
                            <option>杭州</option>
                            <option>天津</option>
                            <option>武汉</option>
                            <option>浙江</option>
                            <option>厦门</option>
                        </select>
                    </th>
                    <th>
                        <select name="education">
                            <option>全部</option>
                            <option>初中及以下</option>
                            <option>中专</option>
                            <option>高中</option>
                            <option>大专</option>
                            <option>本科</option>
                            <option>硕士</option>
                            <option>博士</option>
                        </select>
                    </th>
                    <th>
                        <select name="salary">
                            <option>全部</option>
                            <option>3K以下</option>
                            <option>3-5K</option>
                            <option>5-10K</option>
                            <option>10-15K</option>
                            <option>15-20K</option>
                            <option>20-25K</option>
                            <option>25K以上</option>
                        </select>
                    </th>
                    <th>
                        <select name="scaleCompany">
                            <option>全部</option>
                            <option>0~20人</option>
                            <option>0~50人</option>
                            <option>0~100人</option>
                            <option>0~150人</option>
                            <option>0~500人</option>
                            <option>0~1000人</option>
                            <option>1000人以上</option>
                        </select>
                    </th>
                    <th>
                        <select name="positionType">
                            <option>全部</option>
                            <option>高级管理</option>
                            <option>技术</option>
                            <option>产品</option>
                            <option>设计</option>
                            <option>运营</option>
                            <option>财务</option>
                            <option>市场</option>
                        </select>
                    </th>
                    <th><button class="btn">搜索</button></th>
                    </thead>
                </table>
            </form>
        </div>

        <div class="headLine">
            <p>——————热门职位——————</p>
        </div>
<!--        展示框-->
        <div class="show">
            <table class="visitor">
                <thead>
                <th>面试官</th>
                <th>职位类型</th>
                <th>职位</th>
                <th>操作</th>
                </thead>
            </table>
        </div>
    </div>

</body>
</html>