body,img,li{
    padding: 0px;
    margin: 0px;
}
/*主体*/
body{
    background-color: skyblue;
    background-image: linear-gradient(to right, skyblue, pink 0%);
}

.container table
{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
.container table td, .container table th
{
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}
.container  thead th
{
    background-color: #CCE8EB;
    width: 230px;
}
.container table tr:nth-child(odd)
{
    background: #fff;
}
.container table tr:nth-child(even)
{
    background: #F5FAFA;
}
.return {
    width: 120px;
    height: 80px;
    background-color: #CCE8EB;
    border: 1px solid #cad9ea;
    margin: 50px auto;
    font-weight: bold;
    font-size: 16px;
}
.return:hover {
    transform: scale(0.95);
}